<h1>All Coupons</h1>

<% @coupons.each do |coupon| %>
  <div><%= link_to "#{coupon.store} - #{coupon.coupon_code}", coupon %></div><br>
<% end %>
<br>

<%= link_to "Create a New Coupon", new_coupon_path %>
